DB_HOST=
DB_USER=
DB_PASSWORD=
DB_DATABASE=

# ========================================
# App
# ========================================
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_TMO_API_URL=https://reblium.alpha.tmogroup.asia
NEXT_PUBLIC_TMO_MEDIA_URL=https://reblium.alpha.tmogroup.asia/media/catalog/product

# ========================================
# SMTP (Email)
# ========================================
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
EMAIL_SECURE=false
ADMIN_EMAIL=
