.avatarPageContainer :global(#uiFeatures #controls) {
  z-index: 99 !important;
  right: 5% !important;
  bottom: 0.8% !important;
  position: absolute;
}

.pageContainer :global(#uiFeatures #controls) {
  z-index: 99 !important;
  right: 1% !important;
  bottom: 5.2% !important;
  position: absolute;
}

.pageContainer :global(#uiFeatures button) {
  border-radius: 4px !important;
}

@media (max-width: 768px) {
  .pageContainer :global(#uiFeatures #controls) {
    bottom: 13.58% !important;
    right: 22px !important;
  }
}

.embedContainer :global(#uiFeatures #controls) {
  z-index: 99 !important;
  right: 1% !important;
  bottom: 5.2% !important;
  position: absolute;
}

.embedContainer :global(#uiFeatures button) {
  border-radius: 4px !important;
}

@media (max-width: 768px) {
  .embedContainer :global(#uiFeatures #controls) {
    bottom: 14% !important;
    right: 22px !important;
  }
}
